
.section{
  width:80%; 
  margin:auto;
  height:35vh;
  text-align: center;
  font-family: 'Century Gothic, sans-serif';
  background-color: mediumorchid;
  display: inline-block;
  border: crimson 10px double;
  color: blueviolet;
  box-shadow: 10px 10px  rgb(146, 143, 106);
}
p {
  border: 2px dotted pink;
  padding: 10px;
  margin: 10px;
  display: inline-block;
 color:mediumturquoise;
 text-shadow: 1px 3px 5px rgb(255, 0, 53);
 font-family: 'Century Gothic, sans-serif';
}